/* CSS - general style sheet for CSS */

.container {
  column-width: 250px;
  column-gap: 20px;
  /*display: flex; commented out and added display grid*/
  flex-direction: column;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}
img {
  border-radius: 80px;
}

body {
  background-image: url("Brain 6.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-size: cover;
}

.center {
  text-align: center;
}

header {
  background-color: lightgrey;
}

nav {
  background-color: lightgray;
  width: 100%;
  height: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 25 0;
}

nav li {
  flex: 1;
  display: inline-block;
  line-height: 30px;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 15px;
}

ul li a:hover {
  color: lavenderblush;
}

main {
  display: inline;
  flex: 1;
}

section {
  flex: 1;
  padding: 20px;
}

#about {
  background-color: lightgray;
  border: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#contact {
  background-color: lightgray;
  border: 5px solid red;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#education {
  background-color: lightgray;
  border: 5px solid snow;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#GitHub {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: 5px solid peachpuff;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0px 0px 8px peachpuff, 0 0 15px midnightblue;
}
